﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratuvar Sonucu Ekle</title>
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Content/js/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("ul.menu li").hover(function () {
                $("ul.menu-ic", this).show();
            });
            $("ul.menu li").mouseleave(function () {
                $("ul.menu-ic", this).hide();
            });
        });
    </script>
</head>
<body>
    <div class="head">
        <span>DİYABETE KARŞI AİLEMİN YANINDAYIM</span>
    </div>
    <ul class="menu">
        <li>
            <a href="#">Hasta Kaydı</a>
            <ul class="menu-ic">
                <li>
                    <a href="#">Hasta Kaydı Ekle</a>
                </li>
                <li>
                    <a href="#">Hasta Kaydı Düzenle - Sil</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Hasta Dosyası</a>
        </li>
        <li>
            <a href="#">Muayeneler</a>
        </li>
        <li>
            <a href="#">Laboratuvar Sonuçları</a>
            <ul class="menu-ic">
                <li>
                    <a href="#">Laboratuvar Sonuçları Ekle</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Doktor Notu</a>
        </li>
        <li>
            <a href="#">Çıkış</a>
        </li>
    </ul>
    <div class="content">
        @RenderBody()
        <hr />
    </div>
    <div class="clear"></div>
    <footer>
        <p>&copy; @DateTime.Now.Year - Diyabet Uygulaması</p>
    </footer>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>