﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body class="login">
    <div class="head">Giriş Yap</div>
    <div class="content">
        <div class="loginContent">
            @using (Html.BeginForm("GirisYap", "Default"))
            {
            <div class="row">
                <div class="left">Kullanıcı Adı</div>@ViewBag.Mesaj
                <div class="right">@Html.TextBox("kullaniciAdi", null, new { required = "required" })</div>
                <div class="clear"></div>
            </div>
            <div class="row">
                <div class="left">Şifre</div>
                <div class="right">@Html.Password("parola", null, new { required = "required"})</div>
                <div class="clear"></div>
            </div>
            <div class="row">
                <div class="left"><input type="submit" value="Giriş Yap" class="button" /></div>
                <div class="right">@Html.ActionLink("Kayıt Ol", "KayitOl", new { }, new { @class = "button"})</div>
                <div class="clear"></div>
            </div>
            }
        </div>
    </div>
</body>
</html>
