﻿
@{
    ViewBag.Title = "KayitOl";
    Layout = "~/Views/AdminLayout.cshtml";
}
@using (Html.BeginForm("KayitOl", "Default"))
{
    @ViewBag.Message
<div class="kayitOl">
    <div class="left">
        <div class="row">
            <div class="leftContent">TC Kimlik Numarası</div>
            <div class="rightContent">@Html.TextBox("TCNo", null, new { required = "required", maxlength = "11", minlength = "11" })</div>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div class="leftContent">Adı Soyadı</div>
            <div class="rightContent">@Html.TextBox("AdiSoyadi", null, new { required = "required" })</div>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div class="leftContent">Doğum Tarihi</div>
            <div class="rightContent">@Html.TextBox("DogumTarihi", null, new { type = "date", required = "required" })</div>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div class="leftContent">Telefon Numarası</div>
            <div class="rightContent">@Html.TextBox("TelefonNo", null, new { maxlength = "10", required = "required" })</div>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div class="leftContent">Ev Adresi</div>
            <div class="rightContent">@Html.TextArea("Adres", new { required = "required" })</div>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div class="rightContent"><input type="submit" value="Kayıt Ol" class="button"/></div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="right">
        <div class="row">
            <div class="leftContent">Kullanıcı Adı</div>
            <div class="rightContent">@Html.TextBox("KullaniciAdi", null, new { required = "required" })</div>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div class="leftContent">Mail Adresi</div>
            <div class="rightContent">@Html.TextBox("Mail", null, new { required = "required" })</div>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div class="leftContent">Şifre</div>
            <div class="rightContent">@Html.Password("Sifre", null, new { required = "required" })</div>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div class="leftContent">Şifre (Tekrar)</div>
            <div class="rightContent">@Html.Password("SifreTekrar", null, new { required = "required" })</div>
            <div class="clear"></div>
        </div>
        <div class="row">
            @Html.CheckBox("chkYakin")Yakınıma bilgi verilmesini istiyorum.
            <div class="clear"></div>
        </div>
        <div id="yakinBilgileri">
            <div class="row">
                <div class="leftContent title">Hasta Yakınının</div>
                <div class="clear"></div>
            </div>
            <div class="row">
                <div class="leftContent">Adı</div>
                <div class="rightContent">@Html.TextBox("YakinAdSoyad")</div>
                <div class="clear"></div>
            </div>
            <div class="row">
                <div class="leftContent">Yakınlık Derecesi</div>
                <div class="rightContent">@Html.TextBox("YakinlikDerecesi")</div>
                <div class="clear"></div>
            </div>
            <div class="row">
                <div class="leftContent">Mail Adresi</div>
                <div class="rightContent">@Html.TextBox("YakinMailAdresi", null, new { type = "email" })</div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
}