﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/HastaLayout.cshtml";
}
@model diyabet.Models.Hasta
<div class="baslik">Hasta Bilgileri</div>
<div class="row">
    <div class="left">
        T.C. Kimlik Numarası
    </div>
    <div class="right">
        @Html.TextBox("TCNo", Model.TCNo, new { @readonly = "readonly"})
    </div>
</div>
<div class="row">
    <div class="left">
        Adı Soyadı
    </div>
    <div class="right">
        @Html.TextBox("AdiSoyadi", Model.Uyeler.AdiSoyadi, new { @readonly = "readonly"} )
    </div>
</div>
<div class="row">
    <div class="left">
        Doğum Tarihi
    </div>
    <div class="right">
        @Html.TextBox("DogumTarihi", Model.DogumTarihi, new { @readonly = "readonly"} )
    </div>
</div>