﻿
@{
    ViewBag.Title = "Muayeneler";
    Layout = "~/Views/HastaLayout.cshtml";
}
@model IEnumerable<diyabet.Models.Muayene>
<table>
    <tr>
        <th>Dosya Tarihi</th>
        <th>Muayene Hizmeti</th>
        <th>Servis Adı</th>
        <th>Yapılan Tahliller</th>
        <th>Verilen İlaçlar</th>
        <th>Açıklama</th>
        <th>Doktor Notu</th>
    </tr>
    @foreach (var muayene in Model)
    {
        <tr>
            <td>@muayene.DosyaTarihi</td>
            <td>@muayene.MuayeneHizmeti</td>
            <td>@muayene.ServisAdi</td>
            <td>
                @if (muayene.TahlilSonuclari.Count == 0)
                {
                    <text>Tahlil Yok</text>
                }
                else
                {
                    <text>@Html.ActionLink("Tahlil Sonuçları", "TahlilSonuclari", new { id = muayene.MuayeneID})</text>
                }
            </td>
            <td>
                @if(muayene.Ilac.Count == 0)
                {
                    <text>İlaç Yok</text>
                }
                else
                {
                    <text>@Html.ActionLink("İlaçlar", "Ilaclar", new { id = muayene.Ilac })</text>
                }
            </td>
        </tr>
    }
</table>