﻿body {
    margin:0;
    padding:0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

ul.menu{
    list-style: none;
    width: 15%;
    padding: 15px 35px;
}
ul.menu li {
    margin:5px;
    }
ul.menu li a{
    color:#fff;
}

