﻿body { 
    margin:0;
    padding:0;
    font-family:'Comic Sans MS';
    font-size:14px;
}
a {
    font-weight:bold;
}
.content{
    float:left;
}
.content .contentRight {
    float:left;
    padding:15px 0 0 15px;
}
.loginContent{
	background:#fff url(../img/loginbg.jpg) no-repeat;
	width: 500px;
	height: 300px;
	margin-top: 10%;
	margin-left: 113%;
	padding-top: 126px;
	padding-left: 25px;
}
input[type="text"], input[type="password"], input[type="email"], input[type="date"], textarea{
	border:2px solid #080808;
	border-radius: 5px;
	min-height:25px;
	font-size:13px;
	width:160px;
}
.button{
    display:block;
    max-width:155px;
}
input[type="button"], .button{
	background-color: #222;
	color:#fff;
	border:2px solid #222;
	padding:10px 15px;
	border-radius: 5px;
	min-width:100px;
    text-decoration:none;
    text-align:center;
}
input[type=button]:hover, .button:hover{
	background-color:#fff;
	border:2px solid #080808;
	color:#222;
	cursor:pointer;
}
select{
	height:35px;
	border-radius:5px;
	background-color:#222;
	color:#fff;
}
select:hover{
	cursor:pointer;
}
.clear{
	clear:both;
}
.head{
	width: 98.5%;
	padding: 15px 10px;
	background-color:#222;
	color:#fff;
	border:1px solid #080808;
	font-size:20px;
}
ul.menu{
	list-style:none;
	background-color:#222;
	margin:0;
	min-width:270px;
	width:17%;
	padding:15px;
	border-bottom-right-radius:10px;
	float:left;
}

ul.menu li{
	padding:3px;
}
ul.menu a{
	color: #fff;
	text-decoration:none;
}
ul.menu a:hover{
	text-decoration:underline;
}
ul.menu ul.menu-ic{
	list-style:none;
	display:none;
}
ul.menu ul.menu-ic li:before {
    content: "• ";
    color: #fff;
}
.login .content {
    width:275px;
    margin-top:10%;
    margin-left:15%;
}
.content .row{
	margin-bottom:5px;
}
.content .row .left{
	float:left;
	margin-right:10px;
	width:200px;
}
.content .row .right {
	float:left;
	width:160px;
}
.content .row .right input[type="button"]{
	float:right;
}

.hastaDosyasi .baslik{
    font-size:18px;
    font-weight:bold;
}

.hastaDosyasi table{
    margin-bottom:15px;
}

.hastaDosyasi .row .left{
    width: 130px;
}

.muayeneSol{
    float:left;
    margin-right: 50px;
}

.muayeneSag{
    float:left;
}

.kayitOl{
	margin:15px auto;
}
.kayitOl .left{
	float:left;
	margin-right:30px;
}
.kayitOl .row .leftContent{
	float:left;
	width:175px;
}
.kayitOl .row .rightContent{
	float:right;
}
.kayitOl .right{
	float:left;
}
.kayitOl textarea{
	height:135px;
}
.kayitOl #yakinBilgileri{
	display:none;
}
.kayitOl #yakinBilgileri .title{
	color:red;
	font-size:17px;
	font-weight:bold;
}

.hastaKaydi .mainContent, .hastaDosyasi .mainContent{
	float:left;
	margin:15px;
}

.hastaKaydi .row, .hastaDosyasi .row{
	line-height:25.6px;
}
.hastaKaydi input[type="button"], .hastaDosyasi input[type="button"]{
	padding:4px 15px;
}

span.TCNo{
	float:left;
}

.TCNoText, .BtnGetir{
	float: left;
	margin-left: 15px;
}

table th{
	text-align:left;
}
table th, table td{
	padding:3px;
	border:2px solid #222;
}

table a{
	color:#222;
	text-decoration:none;
}
table a:hover{
	text-decoration:underline;
}
table a.edit{
	color:green;
}
table a.delete{
	color:red;
}

.hastaKaydiDuzenle{
	margin: 20px;
    float:  left;
}
/*
.clear {
    clear:both;
}
input[type=button] {
    background-color:#222;
    color:#fff;
    border:1px solid #080808;
    border-radius:5px;
}
input[type=button]:hover {
    background-color:#fff;
    color:#222;
}
.head {
    background-color:#222;
    padding:15px 0;
    text-align:center;
    border:1px solid #080808;
}
.head span {
    color:#fff;
    font-size:18px;
    font-weight:bold;
}

ul.menu {
    background-color:#222;
    list-style:none;
    border-bottom-right-radius:10px;
    width: 17%;
    min-width: 17%;
    padding:10px;
    float:left;
}
ul.menu li{
    padding:5px;
    width:150px;
}
ul.menu li a {
    color:#fff;
}
ul.menu li a:hover{
    text-decoration:underline;
}
ul.menu-ic {
    list-style:none;
    display:none;
}
ul.menu-ic li {
    width:200px;
}
ul.menu-ic li:before {
    content: "• ";
    color: #fff;
}

.content {
    float: left;
    margin: 15px 0 0 30px;
    width: 70%;
}

.content .main {
    float:left;
    width:25%;
}

.content .main .row {
    margin:10px 0;
}
.content .main .left {
    float:left;
    font-weight:bold;
    width:40%;
}
.content .main .right select {
    margin-bottom:10px;
}
.content .main .right {
    float:left;
}
.content .table {
    float: left;
    width: 60%;
    margin-left: 40px;
}

footer {
    bottom:0;
    position:fixed;
    width:100%;
    background-color:#222;
    text-align:center;
    border:1px solid #080808;
    color:#fff;
}*/