﻿@model diyabet.Models.Hasta
@{
    ViewBag.Title = "Hasta Dosyası";
    Layout = "~/Views/AdminLayout.cshtml";
    diyabet.Models.DiyabetDB context = new diyabet.Models.DiyabetDB();
    var muayeneler = context.Muayene.Where(x => x.HastaID == Model.HastaID).ToList();
}

<div class="hastaDosyasi">
    <div class="baslik">Hasta Bilgileri</div>
    <div class="row">
        <div class="left">T.C. Kimlik Numarası</div>
        <div class="right">@Model.TCNo</div>
        <div class="clear"></div>
    </div>
    <div class="row">
        <div class="left">Adı Soyadı</div>  
        <div class="right">@Model.Uyeler.AdiSoyadi</div>
        <div class="clear"></div>
    </div>
    <div class="row">
        <div class="left">Doğum Tarihi</div>
        <div class="right">@Model.DogumTarihi.ToShortDateString()</div>
        <div class="clear"></div>
    </div>
    <table>
        <tr>
            <th>Seç</th>
            <th>Dosya Tarihi</th>
            <th>Muayene Hizmeti</th>
            <th>Servis Adı</th>
            <th>Yapılan Tahliller</th>
            <th>Verilen İlaçlar</th>
            <th>İstenen Tahliller</th>
            <th>Açıklama</th>
            <th>Doktor Notu</th>
            <th>İşlem</th>
        </tr>
        @foreach (var muayene in muayeneler)
        {
            <tr>
                <td><input type="checkbox" /></td>
                <td>@muayene.DosyaTarihi.ToShortDateString()</td>
                <td>@muayene.MuayeneHizmeti</td>
                <td>@muayene.ServisAdi</td>
                <td>@Html.ActionLink("Tahlil Sonuçları", "Tahliller", new { id = muayene.MuayeneID })</td>
                <td>
                    @{
                        int ilacSayisi = context.Ilac.Count(x => x.MuayeneID == muayene.MuayeneID);
                        if (ilacSayisi == 0)
                        {
                            <text>@Html.ActionLink("İlaç Ekle", "IlacEkle", new { id = muayene.MuayeneID })</text>
                        }
                        else
                        {
                            <text>@Html.ActionLink("İlaçlar", "Ilaclar", new { id = muayene.MuayeneID })</text>
                        }
                    }
                </td>
                <td>@muayene.IstenenTahliller</td>
                <td>@muayene.Aciklama</td>
                <td>
                @{ 
                    var not = context.DoktorNotu.FirstOrDefault(x => x.MuayeneID == muayene.MuayeneID);
                    if (not == null)
                    {
                        <text>@Html.ActionLink("Not Ekle", "NotEkle", new { id = muayene.MuayeneID })</text>
                    }
                    else
                    {
                        <text>@Html.ActionLink("Not İncele", "NotuIncele", new { id = muayene.MuayeneID})</text>
                    }
                }
                    </td>
                <td>@Html.ActionLink("Tahlil Sonucu Ekle", "TahlilSonucuEkle", new { id = muayene.MuayeneID })</td>
            </tr>
        }
    </table>
    @Html.ActionLink("Muayene Kaydı Ekle", "MuayeneKaydiEkle", new { id = Model.HastaID } , new { @class="button"})
</div>