﻿
@{
    ViewBag.Title = "IlacEkle";
    Layout = "~/Views/AdminLayout.cshtml";
}

@using (Html.BeginForm("IlacEkle", "Admin", FormMethod.Post))
{
    <div class="row">
        <div class="left">
            İlaç Adı
        </div>
        <div class="right">
            @Html.TextBox("IlacAdi", null, new { required = "required" })
        </div>
    </div>
    <div class="row">
        <div class="left">
            Günlük Doz
        </div>
        <div class="right">
            @Html.TextBox("GunlukDoz", null, new { required = "required" })
        </div>
    </div>
    <input type="submit" class="button" value="Ekle"/>
    <input type="hidden" value="@Model" name="id" />
}
