﻿
@{
    ViewBag.Title = "Ilaclar";
    Layout = "~/Views/AdminLayout.cshtml";
}

<table>
    <tr>
        <th>İlaç Adı</th>
        <th>Günlük Doz</th>
    </tr>
    @foreach (var ilac in Model)
    {
        <tr>
            <td>@ilac.IlacAdi</td>
            <td>@ilac.GunlukDoz</td>
        </tr>
    }
</table>
@Html.ActionLink("İlaç Ekle", "IlacEkle", new { id = ViewBag.ID }, new { @class = "button" })
