﻿
@{
    ViewBag.Title = "Kontrol Paneli";
    Layout = "~/Views/AdminLayout.cshtml";
}
@model IEnumerable<diyabet.Models.Hasta>
<table>
    <tr>
        <th>T.C. Kimlik Numarası</th>
        <th>Adı Soyadı</th>
        <th>Doğum Tarihi</th>
        <th>Telefon Numarası</th>
        <th>Adres</th>
        <th>Hasta Dosyası</th>
    </tr>
    @foreach(var uye in Model)
    {
     <tr>
         <td>@uye.TCNo</td>
         <td>@uye.Uyeler.AdiSoyadi</td>
         <td>@uye.DogumTarihi.ToShortDateString()</td>
         <td>@uye.TelefonNo</td>
         <td>@uye.Adres</td>
         <td>@Html.ActionLink("Görüntüle", "HastaDosyasi", new { id = uye.HastaID })</td>
     </tr>
    }
</table>