﻿
@{
    ViewBag.Title = "MuayeneKaydiEkle";
    Layout = "~/Views/AdminLayout.cshtml";
}

@using (Html.BeginForm("MuayeneKaydiEkle", "Admin", FormMethod.Post))
{
    <div class="muayeneSol">
        <div class="row">
            <div class="left">Dosya Tarihi</div>
            <div class="right">@Html.TextBox("DosyaTarihi", null, new { type = "date", required = "required" })</div>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div class="left">Muayene Hizmeti</div>
            <div class="right">@Html.TextBox("MuayeneHizmeti", null, new { required = "required" })</div>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div class="left">Açıklama</div>
            <div class="right">@Html.TextArea("Aciklama", null, new { required = "required" })</div>
            <div class="clear"></div>
        </div>
        <input type="submit" class="button" value="Kayıt Ekle" />
    </div>
    <div class="muayeneSag">
        <table>
            <tr>
                <th>Seç</th>
                <th>Tahlil</th>
            </tr>
            <tr>
                <td><input type="checkbox" name="tahlil" value="Üre"/></td>
                <td>Üre</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="tahlil" value="Kreatin" /></td>
                <td>Kreatin</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="tahlil" value="ALT" /></td>
                <td>ALT</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="tahlil" value="AST" /></td>
                <td>AST</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="tahlil" value="Kolestrol" /></td>
                <td>Kolestrol</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="tahlil" value="HDL Kolestrol" /></td>
                <td>HDL Kolestrol</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="tahlil" value="Trigliserid" /></td>
                <td>Trigliserid</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="tahlil" value="LDL Kolestrol" /></td>
                <td>LDL Kolestrol</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="tahlil" value="Sodyum" /></td>
                <td>Sodyum</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="tahlil" value="Potasyum" /></td>
                <td>Potasyum</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="tahlil" value="Klor" /></td>
                <td>Klor</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="tahlil" value="TSH" /></td>
                <td>TSH</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="tahlil" value="PTH" /></td>
                <td>PTH</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="tahlil" value="Hemogram" /></td>
                <td>Hemogram</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="tahlil" value="İdrar" /></td>
                <td>İdrar</td>
            </tr>
        </table>
    </div>
        <input type="hidden" name="hastaID" value="@ViewBag.ID" />
}