﻿
@{
    ViewBag.Title = "NotEkle";
    Layout = "~/Views/AdminLayout.cshtml";
}
@using (Html.BeginForm("NotEkle", "Admin", FormMethod.Post))
{
    <div class="row">
        <div class="left">
            Diyet Programı
        </div>
        <div class="right">
            @Html.TextArea("DiyetProgrami", new { required = "required" })
        </div>
        <div class="clear"></div>
    </div>
    <div class="row">
        <div class="left">
            Bir Sonraki Muayene Tarihi
        </div>
        <div class="right">
            @Html.TextBox("BirSonrakiMuayeneTarihi", null, new { required = "required", type = "date" })
        </div>
        <div class="clear"></div>
    </div>
    <input type="submit" class="button" value="Ekle"/>
    <input type="hidden" value="@Model" />
}

