﻿
@{
    ViewBag.Title = "NotuIncele";
    Layout = "~/Views/AdminLayout.cshtml";
}
@model diyabet.Models.DoktorNotu
<div class="row">
    <div class="left">
        Diyet Programı
    </div>
    <div class="right">
        <textarea readonly>
            @Model.DiyetProgrami
        </textarea>
    </div>
</div>
<div class="row">
    <div class="left">
        Bir Sonraki Muayene Tarihi
    </div>
    <div class="right">
        @Html.TextBox("BirSonrakiMuayeneTarihi", Model.BirSonrakiMuayeneTarihi.ToShortDateString(), new { @readonly  = "readonly"})
     </div>
</div>