﻿@{
    ViewBag.Title = "Tahlil Sonucu Ekle";
    Layout = "~/Views/AdminLayout.cshtml";
}
@{
    string[] tetkikler = { "Tetkik Yok" };
    if (Model.IstenenTahliller.Contains(","))
    {
        tetkikler = Model.IstenenTahliller.Split(',');
    }
    List<SelectListItem> listItems = new List<SelectListItem>();
    foreach (string tetkik in tetkikler)
    {
        listItems.Add(new SelectListItem
        {
            Text = tetkik,
            Value = tetkik
        });
    }
}

@using (Html.BeginForm("TahlilSonucuEkle", "Admin", FormMethod.Post))
{
    <div class="row">
        <div class="left">
            Dosya Tarihi
        </div>
        <div class="right">
            @Html.TextBox("DosyaTarihi", null, new { type = "date", required = "required" })
        </div>
        <div class="clear"></div>
    </div>
    <div class="row">
        <div class="left">
            Uyarı
        </div>
        <div class="right">
            <div class="row">
                @Html.RadioButton("Uyari", "Düşük", true) Düşük
                <div class="clear"></div>
            </div>
            <div class="row">
                @Html.RadioButton("Uyari", "Normal") Normal
                <div class="clear"></div>
            </div>
            <div class="row">
                @Html.RadioButton("Uyari", "Yüksek") Yüksek
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="left">
            Tetkik İsmi
        </div>
        <div class="right">
            @Html.DropDownList("TetkikIsmi", listItems)
        </div>
        <div class="clear"></div>
    </div>
    <div class="row">
        <div class="left">
            Tetkik Sonucu
        </div>
        <div class="right">
            @Html.TextBox("TetkikSonucu", null, new { required = "required" })
        </div>
        <div class="clear"></div>
    </div>
    <div class="row">
        <div class="left">
            Tetkik Referans Değerleri
        </div>
        <div class="right">
            @Html.TextBox("TetkikReferansDegerleri", null, new { required = "required" })
        </div>
        <div class="clear"></div>
    </div>
    <input type="hidden" name="id" value="@Model.MuayeneID" />
    <input type="submit" class="button" value="Kayıt Ekle" />
}