﻿
@{
    ViewBag.Title = "Tahliller";
    Layout = "~/Views/AdminLayout.cshtml";
}

<table>
    <tr>
        <th>Dosya Tarihi</th>
        <th>Tetkik İsmi</th>
        <th>Uyarı</th>
        <th>Tetkik Sonucu</th>
        <th>Tetkik Referans Değerleri</th>
    </tr>
    @foreach(var tahlil in Model)
    {
        <tr>
            <td>@tahlil.DosyaTarihi.ToShortDateString()</td>
            <td>@tahlil.TetkikIsmi</td>
            <td>@tahlil.Uyari</td>
            <td>@tahlil.TetkikSonucu</td>
            <td>@tahlil.TetkikReferansDegerleri</td>
        </tr>
    }
</table>

