﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <script src="~/Content/js/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("ul.menu li").hover(function () {
                $("ul.menu-ic", this).show();
            });
            $("ul.menu li").mouseleave(function () {
                $("ul.menu-ic", this).hide();
            });
            $("#chkYakin").change(function () {
                if ($(this).is(":checked")) {
                    $("#yakinBilgileri").show();
                }
                else {
                    $("#yakinBilgileri").hide();
                }
            })
        });
    </script>
</head>
<body>
    <div class="head">@ViewBag.Title</div>
    <div class="content">
        <ul class="menu">
            <li><a href="/Index/">Hastalar</a></li>
            <li>
                <a href="#">Hasta Kaydı</a>
                <ul class="menu-ic">
                    <li><a href="#">Hasta Kaydı Ekle</a></li>
                    <li><a href="#">Hasta Kaydı Düzenle</a></li>
                </ul>
            </li>
            <li><a href="#">Hasta Dosyası</a></li>
            <li><a href="#">Muayeneler</a></li>
            <li>
                <a href="#">Laboratuvar Sonuçları</a>
                <ul class="menu-ic">
                    <li><a href="#">Laboratuvar Sonuçları Ekle</a></li>
                </ul>
            </li>
            <li><a href="#">Doktor Notları</a></li>
            <li><a href="#">Çıkış</a></li>
        </ul>
        <div class="contentRight">
            @RenderBody()
        </div>
    </div>
</body>
</html>